@font-face {
    font-family: "pop";
    src: url(Poppins/Poppins-Regular.ttf)
}
html
{
    height: 100%;
    overflow: hidden;
}
body
{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(NothingYet.png);
    font-family: "pop";
    /*font-family:Arial, Helvetica, sans-serif;*/
   
}
img
{
    position: absolute;
    display: flex;
}
h1, p
{
    color: #E4A3D4;
}
a
{
    cursor: pointer;
    display: flex;
    position: absolute;
    top: 280px;
    left: 39px;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    /*margin-left: -160px;*/
    /*text-align: center;*/
    /*right: 80px;
    padding-left: 24px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;*/
    font-size: x-small;
    text-decoration: none;
    color: #E4A3D4;
    font-weight: bold;
    transition: transform 0.5s;
    
}
a:hover
{
    transform: scale(1.1);
}
/*@font-face {
    font-family: my;
    src: url(FiraSans-Light.ttf);
}*/
fieldset
{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 300px;
    background-color: white;
    /*border-color: rgb(255, 203, 144);*/
    /*border-color: rgb(196, 144, 255);*/
    border-color: white;
    border-style: solid;
    border-radius: 50px;
}
#greeting
{
    text-align: center;
    /*margin-bottom: 50px;*/
    margin-bottom: 0px;
    /*color: #E4A3D4;*/
    padding-top: 20px;
}
#greeting2
{
    text-align: center;
    /*color: #E4A3D4;*/
    /*color: rgb(196, 144, 255);*/
    margin-bottom: 30px;
    
}
.form
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 20px;
    padding-bottom: 0px;
    margin-bottom: 7px;
}
.con1
{
    position: relative;
    display: flex;
    margin-top: 120px;
    margin-bottom: 15px;
    width: 100%;
}
.con2
{
    width: 100%;
    position: relative;
    display: flex;
}
#alm{
    margin-top: 20px;
    font-size: 14px;
    margin-left: 20px;
}
input[type="text"]
{
    /*border-left: 0px;
    border-right: 0px;
    border-top: 0px;*/
    /*border-color: rgb(196, 144, 255);*/
    border-color: #E4A3D4;
    border-style: solid;
    box-sizing: border-box;
    height: 40px;
    width: 260px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 35px;
}
.nameicon
{
    /*position: relative;*/
    top: 11px;
    width: 7%;
    left: 230px;
    filter: opacity(50%);
}
::placeholder
{
    /*padding-left: 10px;*/
    /*color: rgb(196, 144, 255);*/
    /*color: #E4A3D4;*/
    color: rgba(0, 0, 0, 0.466);
}
input[type="text"]:focus
{
    outline: none;
}
.passicon
{
    /*position: relative;*/
    top: 10px;
    left: 230px;
    width: 7%;
    filter: opacity(50%);
}
input[type="password"]
{
    /*border-left: 0px;
    border-right: 0px;
    border-top: 0px;*/
    /*border-color: rgb(196, 144, 255);*/
    border-color: #E4A3D4;
    border-style: solid;
    box-sizing: border-box;
    height: 40px;
    width: 260px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 35px;
}
input[type="password"]:focus
{
    outline: none;
}
#common{
    display: flex;
    margin-top: 50px;
    justify-content: center;
}
input[type="submit"]
{
    cursor: pointer;
    /*background-color: rgb(196, 144, 255);*/
    background-color: #E4A3D4;
    border-style: solid;
    border-color: #E4A3D4;
    /*border-color: rgb(196, 144, 255);*/
    color: white;
    border-radius: 15px;
    height: 35px;
    font-size: larger;
    width: 200px;
    transition: transform 0.5s;
    /*transition: ease-in-out .5s;*/
}
/*#submit1
{
    cursor: pointer;
    background-color: white;
    border-style: solid;
    border-color: rgb(255, 203, 144);
    color: rgb(255, 203, 144);
}*/
input[type="submit"]:hover
{
    cursor: pointer;
    background-color: #E4A3D4;
    /*background-color: rgb(196, 144, 255);*/
    color: white;
    transform: scale(1.1);
}
/*.submit1
{
    cursor: pointer;
    background-color: white;
    border-style: solid;
    border-color: rgb(255, 203, 144);
    color: rgb(255, 203, 144);
}
.submit1:hover
{
    background-color: rgb(255, 203, 144;
    color: white;
}*/